/* 
colors: from prism.js solarizedlight
just so its matching

#b58900 yellow
#859900 green
#2aa198 cyan
#dc322f red
 */

.word {
    display: inline-flex;
    flex-direction: column;
}

.hidden {
    opacity: 0;
}

.notHidden {
    opacity: 1;
}

.noun {
    background-color: #dc322f;
}

.verb {
    background-color: #2aa198;
}

.adjective {
    background-color: #859900;
}

.adverb {
    background-color: #b58900;
}

.word span {
    border: 0px;
    padding: 3px 9px 3px 9px;
    margin-right: 0.2rem;
}

.word button {
    background-color:  #ffedd0;
    margin: 1px 0.2rem 1px 0;
    border-radius: 3px;
}

.word button:hover {
    font-weight: 600;
    box-shadow: 1px 1px 1px black;
}
