.word span {
    border: 2px solid black;
    padding: 1px 6px 1px 6px;
    margin-right: 0.2rem;
}

.word {
    display: inline-flex;
    flex-direction: column;
}

.edit {
    top: 0;
    left: 0;
}

.remove {
    bottom: 0;
    left: 0;
}

.hidden {
    opacity: 0;
}

.notHidden {
    opacity: 1;
}

.word button {
    background-color:  var(--button-color);
    margin: 1px 0.2rem 1px 0;
    border-radius: 3px;
}

.word button:hover {
    font-weight: 600;
    box-shadow: 1px 1px 1px black;
}