.border {
    width: 80%;
    height: 28%;
    min-width: 250px;
    background-color: var(--blue-color);
    border-radius: 22px;
}

.project {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    top: 50%;
    left: 50%;
    border: solid 2px black;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.project video {
    object-fit: contain;
    width: 100%;
}

.text {
    position: absolute;
    width: 100%;
    height: 30%;
    z-index: 10;
    line-height: 1.3rem;
    text-align: center;
}

.backgroundH2,
.backgroundP {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundP {
    display: none;
}

.text:hover .backgroundH2{
    display: none;
}

.text:hover .backgroundP{
    display: flex;
}

.text h2,
.text p {
    color: white;
}

/* Media Queries */

@media only screen and (max-width: 1050px) {
    /* bigger tablets */
    .border {
        width: 35%;
        height: 45%;
    }  
} 

@media only screen and (max-width: 670px) {
    /* bigger phones & smaller tablets */
    .border {
        width: 80%;
        height: 25%;
    }
}

@media only screen and (max-width: 400px) {
    /* super small devices */
    .border {
        width: 90%;
        height: 25%;
    }
}

@media only screen and (min-width: 1920px) {
    .border {
        width: 90%;
    }
}

@media only screen and (min-width: 2560px) {
    .project {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        border: solid 5px black;
        border-radius: 20px;
    }
}

@media only screen and (min-width: 5120px) {
    .project {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        border: solid 10px black;
        border-radius: 40px;
    }

    .border {
        border-radius: 44px;
    }
}