.header {
    height: 3rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav {
    height: inherit;
    width: inherit;
}

.header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
    background-color: var(--bg-color);
}

.header li {
    list-style-type: none;
}

.navLink {
    text-decoration: none;
    color: black;
}

.navLink:hover {
    font-size: 1.25rem;
    font-weight: 500;
}

.active {
    font-weight: 500;
    font-size: 1.25rem;
}

.pulloutTab {
    height: inherit;
    width: inherit;
}

.header button {
    position: absolute;
    right: 2rem;
    height: 2.5rem;
    background-color: var(--button-color);
    font-weight: 500;
    font-size: 2rem;
    border: 2px solid #000000;
    border-top: none;
    border-radius: 0 0 10% 10%;
}

.header button:hover {
    font-weight: 700;
    border: 3px solid black;
    border-top: none;
}