header {
    height: 3rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    height: inherit;
    width: inherit;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
    background-color: #FFF5E5;
}

li {
    list-style-type: none;
}

.nav {
    text-decoration: none;
    color: black;
}

.nav:hover {
    font-size: 1.25rem;
    font-weight: 500;
}

.active {
    font-weight: 500;
    font-size: 1.25rem;
}

.pullout-tab {
    height: inherit;
    width: inherit;
    text-align: center;
}

button {
    height: 2.5rem;
    background-color: #FFF5E5;
    font-family: 'Oxanium', Verdana, sans-serif;
    font-weight: 500;
    font-size: larger;
    border: 2px solid #000000;
    border-top: none;
    border-radius: 0 0 10% 10%;
}

button:hover {
    background-color: #ffeac8;
}