/* todo: change cursors to make more dynamic ayy */

.poemify {
    margin-bottom: 3rem;
}

.instructions {
    position: fixed;
    left: 2rem;
    top: 0;
    z-index: 2;
}

.icon {
    width: 2.625rem;
    height: 2.375rem;
    border: 2px solid black;
    border-top: 0px;
    border-radius: 0 0 3px 3px;
    background-color: var(--button-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructions i {
    font-size: 1.5rem;
}

.instructionsText {
    display: none;
    width: 40rem;
    background-color: var(--button-color);
    border: 2px solid black;
    padding: 1rem;
}

.icon:hover {
    display: none;
    cursor: default;
}

.icon:hover + .instructionsText {
    display: block;
    cursor: default;
}

.poemify h2 {
    font-size: 1.5rem;
}

.poemify h3 {
    font-size: 1rem;
}

.poemify button {
    font-family: var(--main-font);
    background-color: var(--button-color);
    font-size: 1rem;
    border-radius: 3px;
    height: 2rem;
}

.poemify button:hover {
    box-shadow: inset -1px -1px 1px black;
}

.bookFlexContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.bookContainer{
    width: 70%;
}

.titleAuthorContainer {
    text-align: center;
    border-bottom: 2px solid black;
}

.bookTextContainer {
    margin: 1rem;
    cursor: text;
}

.bookSettingContainer {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
}

.bookSettingContainer button {
    width: 20%;
}

.buttonPressed {
    font-weight: 600;
    box-shadow: inset -1px -1px 1px black;
}

.bookTextContainer p::selection {
    background-color: var(--blue-color);
    color: white;
}

.poemTextContainer,
.bookDataContainer,
.wordsTextContainer {
    border: 2px solid black;
    background-color: var(--off-white-color);
}

.wordsAndPoemContainer {
    display: flex;
    justify-content: space-evenly;
}

.poemContainer,
.wordsContainer {
    width: 40%;
    height: 30rem;
    position: relative;
}

.poemTextContainer,
.wordsTextContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.wordsContainer button {
    position: absolute;
    right: 0;
    top:0;
}
.wordsTextContainer {
    margin-top: 2.5rem;
}

.poemTextContainer {
    margin-top: 0.5rem;
    position: relative;
}

.wordsTextContainer span {
    display: inline-block;
    border: 2px solid black;
    line-height: 2rem;
    margin: 0.2rem;
    cursor: grab;
}

.wordsAndPoemContainer span:active {
    cursor: grabbing;
}

.poemTextContainer span {
    display: inline-block;
    border: 2px solid black;
    line-height: 2rem;
    position: absolute;
    cursor: grab;
}