/* todo: change cursors to make more dynamic ayy */

.poemify {
    margin-bottom: 3rem;
}
.poemify * {
    user-select: none;
}

/* Instructions */
.instructions {
    position: fixed;
    left: 2rem;
    top: 0;
    z-index: 200;
}

.icon {
    width: 3rem;
    height: 2.5rem;
    border: 2px solid black;
    border-top: 0px;
    border-radius: 0 0 3px 3px;
    background-color: var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions span {
    font-size: 2rem;
    font-weight: 800;
}

.instructionsText {
    display: none;
    width: 40rem;
    max-width: 90%;
    background-color: var(--button-color);
    border: 2px solid black;
    padding: 1rem;
}

.instructions:hover .icon{
    display: none;
    cursor: default;
}

.instructions:hover .instructionsText {
    display: block;
    cursor: default;
}

/* actual app only top part*/

.poemify button {
    font-family: var(--main-font);
    background-color: var(--button-color);
    border-radius: 3px;
    min-height: 2rem;
    color: black;
    border: 2px outset black;
}

.poemify button:hover {
    box-shadow: inset -1px -1px 1px black;
}

.bookContainer {
    width: 100%;
    margin-bottom: 3rem;
}

.bookDataContainer {
    width: 70%;
    margin: 0 auto;
}

.titleAuthorContainer {
    text-align: center;
    border-bottom: 2px solid black;
}

.bookTextContainer {
    margin: 1rem;
    cursor: text;
}

.bookTextContainer p {
    user-select: text !important;
}

.bookTextContainer p::selection {
    background-color: var(--blue-color);
    color: white;
}

.bookSettingContainer {
    display: flex;
    width: 70%;
    margin: 0.5rem auto 0 auto;
}

.bookSettingContainer button {
    width: 20%;
}

.buttonPressed {
    font-weight: 600;
    box-shadow: inset -1px -1px 1px black;
}

.addWord {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    padding: 0.1rem;
    padding-top: 0.3rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--button-color);
}

.addWord:active {
    box-shadow: inset 2px 2px black;
}

.shadow {
    position: absolute;
    background-color: var(--red-color);
    opacity: 0.5;
    z-index: 2;
}

/* the drag and drop part */

.wordsAndPoemContainer {
    display: flex;
    justify-content: space-evenly;
}

.poemTextContainer,
.bookDataContainer,
.wordsTextContainer {
    border: 2px solid black;
    background-color: var(--off-white-color);
}

.poemContainer,
.wordsContainer {
    width: 40%;
    height: 30rem;
    display: flex;
    flex-direction: column;
}

.poemContainer button,
.wordsContainer button {
    width: 30%;
    margin-bottom: 0.5rem;
}

.wordsContainer button {
    margin-left: auto;
}

.poemTextContainer,
.wordsTextContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.poemTextContainer {
    position: relative;
}

.wordsTextContainer span {
    display: inline-block;
    border: 2px solid black;
    line-height: 2rem;
    margin: 0.2rem;
    cursor: grab;
    touch-action: none;
    background-color: var(--off-white-color);
    padding: 0.1rem;
}

.poemTextContainer span {
    display: inline-block;
    border: 2px solid black;
    line-height: 2rem;
    position: absolute;
    cursor: grab;
    touch-action: none;
    background-color: var(--off-white-color);
    padding: 0.1rem;
}

/* media queries */
@media only screen and (max-width: 1170px) {
    .poemContainer button,
    .wordsContainer button {
        width: 35%;
    }
}

@media only screen and (max-width: 1000px) {
    .poemContainer button,
    .wordsContainer button {
        width: 40%;
    }
}

@media only screen and (max-width: 900px) {
    .poemContainer button,
    .wordsContainer button {
        width: 45%;
    }
}

@media only screen and (max-width: 780px) {
    .poemContainer button,
    .wordsContainer button {
        width: 55%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 650px) {
    .poemContainer button,
    .wordsContainer button {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .instructions {
        position: static;
        z-index: 1;
    }

    .header {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        height: fit-content;
    }

    .icon {
        border: 2px solid black;
        border-radius: 3px;
    }

    .header h1 {
        margin: 0;
    }

    .instructionsText {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

@media (hover: none) {
    .poemify button:hover {
        box-shadow: none;
    }
}

@media only screen and (max-width: 600px) {
    .bookDataContainer {
        width: 90%;
    }

    .bookSettingContainer button {
        width: 6rem;
    }

    .bookSettingContainer {
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 0.5rem;
        column-gap: 0.2rem;
    }

    .wordsAndPoemContainer {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .wordsContainer {
        width: 100%;
        height: 50vh;
        position: static;
    }

    .poemContainer {
        width: 100%;
        height: 40rem;
        position: static;
    }

    .wordsContainer button {
        position: static;
    }

    .wordsContainer button,
    .poemContainer button {
        margin-bottom: 0.2rem;
    }

    .wordsTextContainer{
        margin: 0;
        height: calc(50vh - 2rem);
    }

    .poemTextContainer {
        margin: 0;
        height: calc(100% - 2rem);
    }

    .wordsContainer {
        margin-bottom: 1.5rem;
    }

}

@media only screen and (min-width:1920px) {
    .instructions span {
        font-size: 2.5rem;
    }

    .icon {
        width: 3.5rem;
        height: 3rem;
    }

    .poemContainer,
    .wordsContainer {
        height: 40rem;
    }

    .wordsTextContainer span,
    .poemTextContainer span {
        line-height: 2.5rem;
        padding: 0.2rem;
    }
}

@media only screen and (min-width: 2560px) {
    .instructions span {
        font-size: 3rem;
    }

    .icon {
        width: 4rem;
        height: 3.5rem;
    }

    .poemContainer,
    .wordsContainer {
        height: 50rem;
    }

    .wordsTextContainer span,
    .poemTextContainer span {
        line-height: 3rem;
        padding: 0.3rem;
    }
}

@media only screen and (min-width: 3840px) {
    .instructions span {
        font-size: 3.5rem;
    }

    .icon {
        width: 4.5rem;
        height: 4rem;
    }

    .bookDataContainer {
        width: 50%;
    }

    .bookSettingContainer {
        width: 50%;
    }

    .poemContainer,
    .wordsContainer {
        height: 60rem;
    }
    
    .wordsTextContainer span,
    .poemTextContainer span {
        line-height: 3.5rem;
        padding: 0.4rem;
    }
}

@media only screen and (min-width: 5120px) {
    .instructions span {
        font-size: 4.5rem;
    }

    .icon {
        width: 5.5rem;
        height: 5rem;
    }

    .poemContainer,
    .wordsContainer {
        height: 90rem;
    }

    .wordsTextContainer span,
    .poemTextContainer span {
        line-height: 4.5rem;
        padding: 0.5rem;
    }
}