.section {
    margin-bottom: 3rem;
    text-align: center;
}

.introduction p,
.section h2 {
    margin-bottom: 2rem;
}

.section h2 {
    font-weight: 600;
}

.section ul {
    width: 100%;
}

.scrollToTopContainer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border: 1px solid black;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-color);
}

.section a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.section a:hover {
    font-weight: 700;
    font-size: 1.1rem;
}

.p {
    max-width: 75%;
    margin: auto auto 1rem auto;
    text-align:start;
}

/* removed section, keeping code just in case

.codeVideo {
    display: flex;
    justify-content: space-evenly;
}

.codeVideo pre {
    width: fit-content;
} */

.code {
    display: flex;
    justify-content: center;
}

.codeCode {
    display: flex;
    justify-content: space-around;
}

.videoVideo {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.videoVideo video{
    width: 40%;
}

.section pre {
    scrollbar-width: thin;
    scrollbar-color: var(--yellow-color) var(--off-white-color);
}

 /* media queries */

 @media only screen and (max-width: 1060px) {
    .codeCode {
        display: block;
    }

    .codeCode pre {
        width: fit-content;
        margin: 0 auto;
    }
 }

 @media only screen and (min-width: 451px) and (max-width: 850px) {
    .videoVideo video {
        margin: 0 auto;
        width: 60%;
    }
 }

 @media only screen and (max-width: 850px) {
    .videoVideo {
        display: block;
    }

    .codeCode {
        width: 90%;
        margin: 0 auto;
    }

    .code {
        width: 90%;
        margin: 0 auto;
    }
 }

 @media only screen and (max-width: 450px) {
    .videoVideo video {
        width: 90%;
    }
 }