.section {
    margin-bottom: 3rem;
    text-align: center;
}

.introduction p,
.section h2 {
    margin-bottom: 2rem;
}

.section h2 {
    font-weight: 600;
}

.section ul {
    width: 100%;
}

.scrollToTopContainer {
    /* todo: figure out how to make it actually centered */
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border: 1px solid black;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-color);
}

.section a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.section a:hover {
    font-weight: 700;
    font-size: 1.1rem;
}

.p {
    max-width: 75%;
    margin: auto auto 1rem auto;
    text-align:start;
}

.codeVideo {
    display: flex;
    justify-content: space-evenly;
}

.codeVideo pre {
    width: fit-content;
}

.headerVideo {
    width: 45%;
}

.code {
    display: flex;
    justify-content: center;
}

.codeCode {
    display: flex;
    justify-content: space-around;
}

.videoVideo {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.videoVideo video{
    width: 40%;
}