.home {
    text-align: center;
}

.introduction {
    width: 75%;
    margin: 0 auto 3rem auto;
}

.inline h1,
.inline p {
    display: inline;
}

.inline h1 {
    margin-left: 1rem;
}

.inline {
    margin-bottom: 3rem;
}

.introduction p {
    margin-bottom: 1rem;
}

.introduction a {
    color: black;
    font-weight: 500;
}

.introduction a:hover {
    font-weight: 700;
}

.icons i {
    font-size: 2rem;
    margin-right: 1rem;
}

.icons {
    margin-top: 2rem;
    color: black;
}

.projectsContainer {
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
}

.home h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 500;
}

.bottom {
    margin-bottom: 2rem;
}

.icons a i {
    color: black;
}

.icons a i:hover {
    font-size: 2.5rem;
}