/* 
colors: from prism.js solarizedlight
just so its matching
 */

.promptGenerator {
    text-align: center;
}

.button,
.wordType,
.promptGenerator input {
    font-family: var(--main-font);
    font-size: 1rem;
    border-radius: 3px;
    margin: 0.5rem;
    width: 7rem;
}

.button:hover,
.wordType:hover {
    font-weight: 600;
    box-shadow: 2px 2px 2px black;
}

.button {
    background-color: var(--button-color);
}

.wordType {
    border: 0px;
    padding: 3px 9px 3px 9px;
}

.noun {
    background-color: var(--red-color);
}

.verb {
    background-color: var(--blue-color);
}

.adjective {
    background-color: var(--green-color);
}

.adverb {
    background-color: var(--yellow-color);
}