/* 
colors: from prism.js solarizedlight
just so its matching
 */

.promptGenerator {
    text-align: center;
}

.button,
.wordType,
.promptGenerator input {
    font-family: var(--main-font);
    border-radius: 3px;
    margin: 0.5rem;
    width: 10%;
    color: black;
}

.promptGenerator input {
    /* copied from default values you can check in devTools, so the safari version can look the same 
    and not with safari default values */
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.button:hover,
.wordType:hover {
    font-weight: 600;
    box-shadow: 2px 2px 2px black;
}

.button {
    background-color: var(--button-color);
    border: 2px outset black;
}

.wordType {
    border: 0px;
    padding: 3px 9px 3px 9px;
}

.noun {
    background-color: var(--red-color);
}

.verb {
    background-color: var(--blue-color);
}

.adjective {
    background-color: var(--green-color);
}

.adverb {
    background-color: var(--yellow-color);
}

.sentence {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* media queries */

@media (hover: none) {
    .button:hover,
    .wordType:hover {
        font-weight: 400;
        box-shadow: none;
    }

    /* for some reason the 'add word' button was always bold? */
    .button[type='submit'] {
        font-weight: 400;
    }
}

@media only screen and (max-width: 860px){
    .button,
    .wordType,
    .promptGenerator input {
        width: 15%;
    }
}

@media only screen and (max-width: 580px){
    .button,
    .wordType,
    .promptGenerator input {
        width: 20%;
    }
}

@media only screen and (max-width: 450px){
    .button,
    .wordType,
    .promptGenerator input {
        width: 25%;
    }
}

@media only screen and (max-width: 350px){
    .button,
    .wordType,
    .promptGenerator input {
        width: 30%;
    }
}
