.main {
    /* why didnt i use margin? 
    don't change this please,
    else the header will also somehow have a margin top! i am very confused
    todo: figure out what is going on??*/
    padding-top: 5rem;
}

.header {
    height: 3rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    font-size: 1.5rem;
}

.nav {
    height: inherit;
    width: inherit;
}

.header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
    background-color: var(--bg-color);
}

.header li {
    min-width: 20rem;
    text-align: center;
    list-style-type: none;
}

.navLink {
    text-decoration: none;
    color: black;
}

.navLink:hover {
    font-size: 1.75rem;
    font-weight: 500;
}

.active {
    font-weight: 500;
    font-size: 1.75rem;
}

@media only screen and (max-width: 700px) {
    .header li {
        min-width: 10rem;
    }

    .header {
        font-size: 1rem;
    }
    .navLink:hover {
        font-size: 1.25rem;
    }

    .active {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1920px) {
    .header a{
        font-size: 2rem;
    }

    .navLink:hover {
        font-size: 2.25rem;
    }

    .active {
        font-size: 2.25rem;
    }
}

@media only screen and (min-width: 2560px) {
    .header {
        height: 4rem;
    }

    .header a{
        font-size: 2.5rem;
    }

    .main {
        padding-top: 9rem;
    }
    
    .navLink:hover {
        font-size: 2.75rem;
    }

    .active {
        font-size: 2.75rem;
    }
}

@media only screen and (min-width: 3840px) {
    .header {
        height: 5rem;
    }

    .header a{
        font-size: 3rem;
    }

    .main {
        padding-top: 12rem;
    }
    
    .navLink:hover {
        font-size: 3.25rem;
    }

    .active {
        font-size: 3.25rem;
    }
}

@media only screen and (min-width: 5120px) {
    .header {
        height: 6rem;
    }

    .header a{
        font-size: 4rem;
    }

    .main {
        padding-top: 12rem;
    }

    
    .navLink:hover {
        font-size: 4.25rem;
    }

    .active {
        font-size: 4.25rem;
    }
}